@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html{
            scroll-behavior: smooth;
        }
        body {
            font-family: "Roboto", sans-serif;
            line-height: 1.6;
        }
        /* header and navbar */
       .header {
            background: url('../img/2.jpg') no-repeat center center;
            background-size: cover;
            height: 100vh;
            color: white;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px;
            position: relative;  
            background-attachment: fixed;
        }
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.2);
            z-index: 100;
        }
        .container{
            z-index: 1000;
        }
        .btn-custom {
            background-color: #e6c800;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            transition: transform 0.3s ease; 
          }
          
          .btn-custom:hover {
            transform: scale(1.1); 
            background-color: #e6c800; 
            color: #fff; 
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          }
       .header h1 {
            font-size: 4rem;
            font-weight: bold;
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
       .header p {
            font-size: 1.5rem;
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
        /* navbar */
        .navbar {
            background-color: white; 
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
            border-bottom: 1px solid #e6c800;
        }
          .navbar-brand {
            font-size: 1.5rem; 
            font-weight: bold; 
          }
          .navbar-dark .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
          }
          .nav-link {
            transition: color 0.3s ease; 
          }
        
        .navbar-dark .navbar-nav .nav-link:hover {
            color: #525151;
        }
        .navbar-dark .navbar-brand , .navbar-dark .navbar-nav .nav-link{
          color: #000;
        }
        .navbar-dark .navbar-brand:hover{
          color: #000;
        }
        /* services */
       .services,.contact {
            padding: 50px 0;
            text-align: center;
        }
       .services.col-md-4 {
            margin-bottom: 30px;
        }
       .services i {
            color: #ffdd00;
            margin-bottom: 20px;
        }
       .services h3 {
            font-size: 1.75rem;
            font-weight: bold;
        }
        /* details */
       .details {
            background-size: cover;
            background: #E5E4E2;
            padding: 50px 0;
            text-align: center;
            position: relative; 
        }
       .details.overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            z-index: 1;
        }
       .details h2 {
            font-size: 2.5rem;
            margin-bottom: 30px;
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
       .details h4 {
            font-size: 1.5rem;
            margin-bottom: 15px;
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
       .details p,.details ul {
            text-align: left;
        }
       .details i {
            font-size: 2rem;
            margin-right: 10px;
        }
        /* gallery */
       .gallery {
            padding: 50px 0;
            text-align: center;
        }
       .gallery h2 {
            font-size: 2.5rem;
            margin-bottom: 30px;
        }
       .gallery-grid {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center;
        }
       .gallery-grid img {
            cursor: pointer;
            width: 30%;
            height: auto;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
           transition: transform 0.3s ease;
        }
      .gallery-grid img:hover {
            transform: scale(1.05);
        }
        /* Modal Styles */
      .modal {
        display: none; 
        position: fixed;
        z-index: 1; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
      }

      .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        padding-top: 200px;
        background: transparent;
      }

      .modal-content {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
      }

      @-webkit-keyframes zoom {
        from { -webkit-transform: scale(0) } 
        to { -webkit-transform: scale(1) }
      }

      @keyframes zoom {
        from { transform: scale(0) } 
        to { transform: scale(1) }
      }

      .close {
        position: absolute;
        top: 115px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
      }

      .close:hover,
      .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
      }

      #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
      }

        /* contact */
        .contact {
          background: #E5E4E2;
          color: black;
          padding: 40px 20px;
      }
      
      .contact h2 {
          text-align: center;
          margin-bottom: 40px;
      }
      
      .contact .contact-content {
          display: flex;
          justify-content: center; /* Center the content horizontally */
          align-items: center; /* Center the content vertically */
          gap: 40px;
          flex-wrap: wrap; /* Ensure it wraps on smaller screens */
      }
      
      .contact .contact-info {
          flex: 1;
          max-width: 300px;
          text-align: center; /* Center the text */
      }
      
      .contact .info-item {
          display: flex;
          align-items: center;
          margin-bottom: 45px;
      }
      
      .contact .info-item i {
          font-size: 1.5em;
          margin-right: 10px;
          color: #e6c800; 
      }
      
      .contact .info-item p {
          margin: 0;
          font-size: 1.1em;
      }
      
      .contact form {
          flex: 2;
          max-width: 600px;
          margin: 0 auto;
      }
      
      .contact .form-group {
          margin-bottom: 20px;
      }
      
      .contact label {
          width: 100%;
          display: flex;
          align-items: flex-start;
          margin-bottom: 5px;
          font-weight: bold;
      }
      
      .contact input,
      .contact textarea {
          outline: none;
          width: 100%;
          padding: 12px;
          border: 1px solid #ccc;
          border-radius: 5px;
          background: white;
          color: black;
          transition: border-color 0.3s;
      }
      
      .contact input:focus,
      .contact textarea:focus {
          border-color: #ffdd00; 
      }
      
      .contact input::placeholder,
      .contact textarea::placeholder {
          color: #bbb;
      }
      
      .contact button {
          display: block;
          width: 100%;
          padding: 12px;
          background-color: #e6c800;
          color: black;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          font-weight: bold;
          transition: background-color 0.3s;
      }
      
      .contact button:hover {
          background-color: #ffdd00;
      }
      
        /* footer */
       footer {
            background: #525151;
            color: white;
            padding: 20px 0;
            border-top: 1px solid #e6c800;
        }
       footer p {
            margin: 0;
        }
      .social-links a {
            font-size: 1.5rem;
            transition: color 0.3s;
        }
      .social-links i:hover {
            color: #e6c800;
        }
      .facebook i{
            color: #fff;
        }
      .instagram i{
            color: #fff;
        }
      .twitter i{
            color: #fff;
        }
      .linkedln i{
            color: #fff;
        }
        /* scroll and text effects */
      .scroll-effect {
            transition: transform 0.5s ease;
        }
      .scroll-effect:hover {
            transform: scale(1.1);
        }
      .text-effect {
            position: relative;
        }
      .text-effect::before {
            content: attr(data-text);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #ffdd00;
            color: black;
            padding: 10px;
            border-radius: 5px;
            transform: translateY(-100%);
            transition: transform 0.5s ease;
        }
      .text-effect:hover::before {
            transform: translateY(0);
        }